.container{
    position: center;
    margin-left: 150px;
    margin-right: 150px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.leftComponent a{
    align-self: flex-start;
    text-decoration: none;
    font-weight: bold;
    font-family: "Tiro Devanagari Hindi";
}

.tagLine{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.rightComponent{
    align-self: flex-end;
}

.account{
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    padding:5px;
    text-decoration: none;
}

.account:hover{
    color: grey;
}

.searchInput{
    width: 300px;
    height: 30px;
}

.searchButton{
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    width:120px;
    justify-content: center;
    cursor: pointer;
}

.searchButton:hover{
    background-color: rgba(0,0,0,0.6);
}

.username{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.username:hover{
    text-decoration: underline;
}

@media (max-width: 780px){
    .content{
        display: block;
    }
    .container{
        padding-top: 50px;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .leftComponent{
        font-size: 40px;
        align-self: flex-start;
        font-weight: bold;
        font-family: "Tiro Devanagari Hindi";
    }

    .rightComponent{
        align-self: flex-end;
    }

    .searchInput{
        width: 300px;
        height: 30px;
    }

    .searchButton{
        color: white;
        background-color: black;
        border: none;
        padding: 10px;
        width:120px;
        justify-content: center;
    }
}