.seeMore{
    width: 75%;
    cursor: pointer;
    color: black;
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.seeMore:hover{
    color: rgba(0,0,0,0.5);
}